
html,body{
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    position:relative;
}
.nav{
    height: 60px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    /* padding: 0 3vw; */
}
.nav-2{
    display: flex;
    /* background-color: blue; */
    gap: 3vw;
    justify-content:center ;
    align-items: center;
margin-right: 3vw;
}
.nav h2{
    margin-left: 4vw;
    font-size: 30px;
    font-weight: 700;
}
.nav h4{
font-size: 20px;
}
.nav i{
    font-size: 2vw;
    font-weight: 800;
    display: none;
}
.nav button{
    font-size: 15px;
    padding: 10px 10px;
    background-color: lightseagreen;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.content{
    height: calc(100% - 60px);
    width: 100%;
    /* background-color: red; */
    display: flex;
    position: relative;
}
.left{
    height: 100%;
    width: 50%;
    /* background-color: crimson; */
padding-left: 4vw;
padding-right: 3vw;
}
.left h1{
    font-size: 4.3vw;
    /* padding-top: 1vw; */
    line-height: 4.4vw;
    margin-bottom: 0;

}
.left h1 span{
    color: lightseagreen;
}
.left p{
    font-size: 1.8vw;
    margin-bottom: 2vw;
    
}
button{
    font-size: 1.3vw;
    padding: 1vw 2vw;
    background-color: lightseagreen;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.right{
    /* padding-left:50px; */
    height: 100%;
    width: 50%;
    /* background-color: greenyellow; */
}
.right img{
    width: 100%;
    height: 100%;
}

@media (max-width:700px){
    .nav{
    height: 60px;
    }
    .nav h2{
   font-size: 22px;
    }
    .nav h4{
      display: none;
    }
    .nav button{
        display: none;
    }
    .nav i{
        color: black;
        display: block;
        font-size: 22px;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
    .left{
        width: 80%;
        height: 60%;
    }
    .left h1{
        font-size: 29px;
        line-height: 28px;
     }
     .left p{
        font-size: 12px;
     }
     .left button{
        font-size: 10px;
        padding: 8px 5px;
     }
    .right{
        width: 90%;
    }
}